{% extends "InstitutAshariteBundle::Front_template.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}

{% block nav %} Planning {% endblock %}

{% block body %}

    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="fa fa-calendar"></i>Première année</div>
            <div class="collapsible-body grey lighten-5">
                <div class=" center">
                    <img src="{{ asset('public/img/plan1.png') }}" alt="plan1">
                    <!--img src="{{ asset('public/img/exa1.png') }}" alt="exa1"-->
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fa fa-calendar"> </i>Deuxième année</div>
            <div class="collapsible-body grey lighten-5">
                <div class=" center">
                    <img src="{{ asset('public/img/plan2.png') }}" alt="plan2">
                    <!--img src="{{ asset('public/img/exa2.png') }}" alt="exa2"-->
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fa fa-calendar"> </i>Troisième année</div>
            <div class="collapsible-body grey lighten-5">
                <div class=" center">
                    <img src="{{ asset('public/img/plan3.png') }}" alt="plan3">
                    <!--img src="{{ asset('public/img/exa3.png') }}" alt="exa3"-->
                </div>
            </div>
        </li>
    </ul>

{% endblock %}